

:root {
	--primary:#111B54;
	--light:#ffffff;
	--grey:#efefef;
}
.wrapper {
    display: flex;
    width: 100%;
	height: 1000px;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
	min-height: 100vh;
	transition: all 0.3s;
}
#sidebar.active {
    margin-left: -250px;
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #000000;
}
.main {
            background-color:black;
            border-radius: 20px 20px 0px 0px;
        }

.content {
	height: 100%;
	width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
	flex-wrap: wrap;
	overflow-y:scroll;
}
body {
	overflow: hidden;
	font-family: 'Muli';
	font-weight: 700;
	color: var(--primary);
}
a {
	text-decoration: none;
	
}
a:hover {
	text-decoration: none;
}
.bg-primary {
	background-color: var(--primary)
	!important;
}
#sidebar-container {
	min-height: 100vh;
	
}
#sidebar-container .logo {
	padding: .875rem 1.25rem;
}
#sidebar-container .menu {
	width: 18rem;	
}
