
.card {
	background-color: #4B6587;
	color:#efefef;
	margin: 7vh;
	margin-top: 20%;
	border-radius: 40px;

}

:root {
	--primary:#111B54;
	--light:#ffffff;
	--grey:#efefef;
}
.wrapper {
    display: flex;
    width: 100%;
	height: 1000px;
	background-color: #F0E5CF;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
	min-height: 100vh;
	transition: all 0.3s;
	background-color: #4B6587;
	color: #F7F6F2;
}
#sidebar.active {
    margin-left: -250px;
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #4B6587;
	color: #F7F6F2;
}
.container-fluid {
	background-color: #F0E5CF;
}
.navbar {

	background-color: #F0E5CF;
}	
.page-link {background-color: #4B6587 !important;
	color:#F7F6F2 !important}
.main {
            background-color:black;
            border-radius: 20px 20px 0px 0px;
        }

.content {
	height: 100%;
	width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
	flex-wrap: wrap;
	overflow-y:scroll;
}
body {
	overflow: hidden;
	font-family: 'Muli';
	font-weight: 700;
	color: var(--primary);
}
a {
	text-decoration: none;
	
}
a:hover {
	text-decoration: none;
}
.bg-primary {
	background-color: #4B6587 !important;
}
#sidebarCollapse {
	color: #F7F6F2;
	background-color: #4B6587;
}
#sidebar-container {
	min-height: 100vh;
	
}
#sidebar-container .logo {
	padding: .875rem 1.25rem;
}
#sidebar-container .menu {
	width: 18rem;	
}
